<div *ngIf="currentGameStatus == gameStatus.ready" class="container">
    <div class="row justify-content-center">
        <div *ngIf="currentGameType == gameType.single" class="col-4 col-sm-3 nbs-center">
            <nbs-move-counter [moves]="moves"></nbs-move-counter>
        </div>
        <div *ngIf="currentGameType == gameType.race" class="col-4 col-sm-3 nbs-center">
            <nbs-game-board [puzzleArray]="puzzleArray" [gameSize]="getGameSize()" [wordList]="wordList"></nbs-game-board>
        </div>
        <div class="col-4 col-sm-6">
            <nbs-word-display [wordList]="wordList"></nbs-word-display>
        </div>
        <div class="col-4 col-sm-3 nbs-center">
            <nbs-timer></nbs-timer>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-7 col-lg-6">
            <nbs-game-board [puzzleArray]="puzzleArray" [gameSize]="getGameSize()" [wordList]="wordList" (move)="onMove($event)" (tileStartedMoving)="onTileStartedMoving()" (tileStoppedMoving)="onTileStoppedMoving()"></nbs-game-board>
        </div>
    </div>
</div>

<div *ngIf="currentGameStatus == gameStatus.win">
    <nbs-win-screen></nbs-win-screen>
</div>

<div *ngIf="currentGameStatus == gameStatus.lose">
    <nbs-lose-screen></nbs-lose-screen>
</div>