<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-3 col-sm-3">
            <nbs-move-counter [moves]="moves"></nbs-move-counter>
        </div>
        <div class="col-xs-3 col-sm-6">
            <nbs-word-display [wordList]="wordList"></nbs-word-display>
            <nbs-game-board [puzzleArray]="puzzleArray" [gameSize]="getGameSize()" (move)="onMove()"></nbs-game-board>
        </div>
        <div class="col-xs-3 col-sm-3">
            <nbs-timer></nbs-timer>
        </div>
    </div>
</div>