<a routerLink="" (click)="logout()">Logout</a>
<br>

<div class="center-container">

    <nbs-menu-component class="full-width up-third" (gameOptionsSubmitted)="onGameOptionsSubmitted($event)" *ngIf="currentGameStatus == gameStatus.noGame"></nbs-menu-component>

    <div *ngIf="currentGameStatus == gameStatus.waiting">Testing waiting</div>

    <div *ngIf="currentGameStatus == gameStatus.ready && puzzleArray.length > 0">
        <nbs-game-player [wordList]="wordList" [puzzleArray]="puzzleArray" [currentGameStatus]="playerGameStatus" (move)="onMove($event)" (tileStartedMoving)="onTileStartedMoving()" (tileStoppedMoving)="onTileStoppedMoving()"></nbs-game-player>
    </div>

    <div *ngIf="currentGameStatus == gameStatus.watching">Testing watching</div>

</div>