<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-2 col-sm-5">
            <form #loginForm="ngForm" (submit)="login()" novalidate>
                <div class="form-group" [ngClass]="{'has-error': username.dirty && username.invalid}">
                    <label class="nbs-medium-label" for="username">Username</label>
                    <input #username="ngModel" type="text" class="form-control" name="username" id="username" [(ngModel)]="user.username" required>
                    <div class="alert alert-danger" *ngIf="username.dirty && username.invalid">This field is required</div>
                </div>
                <div class="form-group" [ngClass]="{'has-error': (password.dirty && password.invalid)}">
                    <label class="nbs-medium-label" for="password">Password</label>
                    <input #password="ngModel" type="password" class="form-control" name="password" id="password" [(ngModel)]="user.password"
                        required>
                    <div class="alert alert-danger" *ngIf="password.dirty && password.invalid">This field is required</div>
                </div>
                <div class="alert alert-danger" *ngIf="loginFail">Invalid credentials.</div>
                <div class="nbs-center-form-group">
                    <label class="nbs-form-check-label" for="submit">
                        <div class="nbs-menu-option-container nbs-noselect">Submit</div>
                    </label>
                    <input type="submit" id="submit" name="submit" class="nbs-hidden">
                </div>
            </form>
        </div>
    </div>
</div>